<div class="container mx-auto pb-5">
    <!-- Hero -->
    <section class="xl:mt-8 mt-4 px-4">
        <div class="bg-[#D9D9D9] rounded-2xl h-80 xl:h-150 overflow-hidden shadow-2xl">
            <img class="w-full h-full object-cover" src="/public/img/house.jpg" alt="">
        </div>
        <div class="grid xl:grid-cols-3 gap-3 xl:gap-5 mt-5">
            <div class="shadow-xl flex items-center gap-5 bg-white rounded-3xl p-3">
                <div>
                    <img class="xl:h-16 xl:w-16 h-12 w-12" src="/public/img/money-icon.png" alt="">
                </div>
                <div class="space-y-2">
                    <h3 class="text-sm xl:text-base">قیمت گذاری واقعی منصفانه</h3>
                    <p class="text-xs xl:text-sm">بر اساس شرایط روز بازار و مقایسه حرفه‌ای</p>
                </div>
            </div>
            <div class="shadow-xl flex items-center gap-5 bg-white rounded-3xl p-3">
                <div>
                    <img class="xl:h-16 xl:w-16 h-12 w-12" src="/public/img/check-icon.png" alt="">
                </div>
                <div class="space-y-2">
                    <h3 class="text-sm xl:text-base">انتخاب هوشمندانه، نه فایل‌های تکراری</h3>
                    <p class="text-xs xl:text-sm">فقط ملک‌هایی معرفی می‌شوند که ارزش خرید دارند.</p>
                </div>
            </div>
            <div class="shadow-xl flex items-center gap-5 bg-white rounded-3xl p-3">
                <div>
                    <img class="xl:h-16 xl:w-16 h-12 w-12" src="/public/img/house-icon.png" alt="">
                </div>
                <div class="space-y-2">
                    <h3 class="text-sm xl:text-base">همراهی کامل تا نهایی شدن معامله</h3>
                    <p class="text-xs xl:text-sm">از اولین بازدید تا امضای قرارداد، کنار شما هستیم.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="grid xl:grid-cols-2 gap-5 xl:gap-15 mt-4 xl:mt-8 px-4">
        <div>
            <div class="flex items-center xl:items-end justify-between">
                <h2 class="text-xl xl:text-3xl">درباره هلدینگ آریا</h2>
                <img class="xl:w-24 xl:h-24 w-20 h-20" src="/public/img/arrow-icon.png" alt="">
            </div>
            <div class="hidden xl:block capitalize text-3xl mt-3 tracking-[8px] text-[#717171]/50">
                about &nbsp; arya
                &nbsp;
                groups
                &nbsp; realstate
            </div>
            <p class="text-sm text-justify xl:text-start">
                از <span class="alibaba-bold">اولین بازدید</span> تا <span class="alibaba-bold"> امضای نهایی</span>
                قرارداد، تمامی مراحل خرید زمین و
                ویلا با رویکردی دقیق، حرفه‌ای و
                کاملاً شفاف مدیریت می‌شود.
                <br />
                ما با شناخت عمیق از بازار،
                <span class="alibaba-bold">
                    بررسی کامل موقعیت ملک، اصالت اسناد، کاربری زمین و ارزش‌گذاری
                    واقعی،
                </span>
                گزینه‌هایی را پیشنهاد می‌کنیم که علاوه بر کیفیت، امنیت سرمایه‌گذاری شما را
                تضمین کند.
                <br />
                در فرآیند خرید ویلا، تمرکز ما بر انتخاب ملک‌هایی با معماری شاخص، موقعیت ممتاز و ارزش افزوده بلندمدت
                است؛
                <br />
                و در خرید زمین، تمامی جزئیات حقوقی، کاربری، امکان ساخت و پتانسیل رشد منطقه به‌صورت تخصصی بررسی
                می‌شود.
                <br />
                از هماهنگی بازدیدهای اختصاصی و مشاوره تخصصی گرفته تا
                <span class="alibaba-bold">مدیریت مذاکرات، تنظیم توافقات</span>
                و همراهی کامل تا
                مرحله امضای قرارداد، در کنار شما هستیم تا تجربه‌ای آرام، مطمئن و درخور یک انتخاب لوکس را رقم بزنیم.
                <br />
                <span class="alibaba-bold">برای ما، خرید ملک تنها یک معامله نیست؛</span>
                <br />
                بلکه
                <span class="alibaba-bold">ساختن یک تصمیم هوشمندانه و ماندگار</span>
                برای آینده شماست.
            </p>

            <div class="flex flex-col xl:flex-row items-start xl:items-center gap-5 mt-3 xl:mt-5">
                <button class="btn bg-primary  xl:h-12 rounded-2xl flex justify-between border-none font-normal p-2 gap-7 mt-4">
                    <span class="text-white xl:text-sm">مشاهده راه های ارتباطی</span>
                    <div class="xl:w-8 xl:h-8 w-6 h-6 rounded-full bg-white flex justify-center items-center">
                        <img src="public/svg/arrow-up.svg" alt="arrow-up" />
                    </div>
                </button>
                <img class="hidden xl:block" src="/public/img/title-customer.png" alt="">
            </div>
        </div>

        <div class="space-y-2">
            <div class="collapse shadow-lg bg-white rounded-2xl">
                <input type="radio" name="my-accordion-1" checked="checked" />
                <div class="collapse-title flex items-center justify-between alibaba-bold p-3 text-sm xl:text-base">
                    آیا اسناد و وضعیت
                    حقوقی
                    املاک قبل از فروش بررسی می‌شوند؟
                    <img src="/public/img/orang-arrow-icon.png" alt="">
                </div>
                <div class="collapse-content text-xs xl:text-sm">
                    آیا اسناد و وضعیت حقوقی املاک قبل از فروش بررسی می‌شوند؟
                </div>
            </div>
            <div class="collapse shadow-lg bg-white rounded-2xl">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title flex items-center justify-between alibaba-bold p-3 text-sm xl:text-base">
                    آیا اسناد و وضعیت
                    حقوقی
                    املاک قبل از فروش بررسی می‌شوند؟
                    <img src="/public/img/orang-arrow-icon.png" alt="">
                </div>
                <div class="collapse-content text-xs xl:text-sm">آیا تا زمان نهایی شدن قرارداد همراهی کامل دارید؟</div>
            </div>
            <div class="collapse shadow-lg bg-white rounded-2xl">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title flex items-center justify-between alibaba-bold p-3 text-sm xl:text-base">
                    آیا اسناد و وضعیت
                    حقوقی
                    املاک قبل از فروش بررسی می‌شوند؟
                    <img src="/public/img/orang-arrow-icon.png" alt="">
                </div>
                <div class="collapse-content text-xs xl:text-sm"> آیا تا زمان نهایی شدن قرارداد همراهی کامل داری؟</div>
            </div>
            <div class="collapse shadow-lg bg-white rounded-2xl">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title flex items-center justify-between alibaba-bold p-3 text-sm xl:text-base">
                    آیا اسناد و وضعیت
                    حقوقی
                    املاک قبل از فروش بررسی می‌شوند؟
                    <img src="/public/img/orang-arrow-icon.png" alt="">
                </div>
                <div class="collapse-content text-xs xl:text-sm"> آیا تا زمان نهایی شدن قرارداد همراهی کامل داری؟</div>
            </div>
            <div class="collapse shadow-lg bg-white rounded-2xl">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title flex items-center justify-between alibaba-bold p-3 text-sm xl:text-base">
                    آیا اسناد و وضعیت
                    حقوقی
                    املاک قبل از فروش بررسی می‌شوند؟
                    <img src="/public/img/orang-arrow-icon.png" alt="">
                </div>
                <div class="collapse-content text-xs xl:text-sm"> آیا تا زمان نهایی شدن قرارداد همراهی کامل داری؟</div>
            </div>
            <div class="collapse shadow-lg bg-white rounded-2xl">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title flex items-center justify-between alibaba-bold p-3 text-sm xl:text-base">
                    آیا اسناد و وضعیت
                    حقوقی
                    املاک قبل از فروش بررسی می‌شوند؟
                    <img src="/public/img/orang-arrow-icon.png" alt="">
                </div>
                <div class="collapse-content text-xs xl:text-sm"> آیا تا زمان نهایی شدن قرارداد همراهی کامل داری؟</div>
            </div>
        </div>
    </section>
</div>